/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.red-header {
  background-color: #D14242;
  padding:20px;
  color: white;
}

.red-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.red-header nav ul li {
  display: inline;
  margin-right: 20px;
}

.red-header nav a {
  text-decoration: none;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
}

.grey-footer {
  font-weight: bold;
  font-size: medium;
  background-color: #D3D3D3;
  padding: 3px;
  color: #818181;
  text-align: center;
}
