
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.red-header {
  font-size: 20px;
  background-color: #D14242;
  color: white;
  height: 54px;
}

.red-header-text{
  font-weight: 400;
  font-style: normal;
  font-stretch: 100%;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 5px;
}

.navbar-container {
  display: flex;
  align-items: center;
  list-style: none;
}

.flex-grow {
  flex-grow: 1;
  
}
.navbar-button {
  background-color: #D14242;
  width: 108px;
  height: 54px;
  margin:0%;
  padding:0%
}
.navbar-button:hover,
.navbar-button.active{
  background-color: #B33131; 
  color: white; 
  text-decoration: none; 
  cursor: pointer; 

}
.component-button{
  height: 30px;
  margin: 0%;
}

 .red-header nav ul {
  list-style: none;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.red-header nav ul li {
  display: inline;
  align-items: right;
  padding: 15px;
}

.red-header nav a {
  text-decoration: none;
  color: white;
 
} 
 
main {
  flex: 1;
  padding: 20px;
}

.grey-footer {
  font-weight: 400;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #D3D3D3;
  color: #818181;
  text-align: center;
  height: 51px;
}
