.toast {
    position:fixed;
    gap: 15px;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9AE09A;
    color: #576D3B;
    padding: 10px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 12%;
    height: 3%;
  }
  
  .toast.visible {
    opacity: 1;
  }
  
  .toast.hidden {
    opacity: 0;
  }
  